.color-radios div {
  display: inline-block; }
.color-radios input[type="radio"] {
  display: none; }
  .color-radios input[type="radio"] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px; }
    .color-radios input[type="radio"] + label span {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: -1px 4px 0 0;
      vertical-align: middle;
      cursor: pointer;
      border-radius: 50%;
      border: 2px solid #ffffff;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      line-height: 36px; }
      .color-radios input[type="radio"] + label span i {
        opacity: 0;
        transition: all .3s ease; }
  .color-radios input[type="radio"]#white + label span {
    background-color: #FFFFFF; }
  .color-radios input[type="radio"]#black + label span {
    background-color: #000000; }
  .color-radios input[type="radio"]#green + label span {
    background-color: green; }
  .color-radios input[type="radio"]#yellow + label span {
    background-color: yellow; }
  .color-radios input[type="radio"]#coral + label span {
    background-color: #ff7f50; }
  .color-radios input[type="radio"]#purple + label span {
    background-color: #800080; }
  .color-radios input[type="radio"]#grey + label span {
    background-color: #808080; }
  .color-radios input[type="radio"]#gold + label span {
    background-color: #ffd700; }
  .color-radios input[type="radio"]#silver + label span {
    background-color: #c0c0c0; }
  .color-radios input[type="radio"]#silver + label span {
    background-color: silver; }
  .color-radios input[type="radio"]#rose-gold + label span {
    background-color: #B76E79; }
  .color-radios input[type="radio"]#pink + label span {
    background-color: pink; }
  .color-radios input[type="radio"]#red + label span {
    background-color: red; }
  .color-radios input[type="radio"]#yellow + label span {
    background-color: yellow; }
  .color-radios input[type="radio"]#prisam + label span {
    background-color: #ded5c6; }
  .color-radios input[type="radio"]#space-grey + label span {
    background-color: #a7adba; }
  .color-radios input[type="radio"]#prism-white + label span {
    background-color: #ded5c6; }
  .color-radios input[type="radio"]#prism-black + label span {
    background-color: #b4dcf0; }
  .color-radios input[type="radio"]#prism-green + label span {
    background-color: #e7eee7; }
  .color-radios input[type="radio"]#twilight + label span {
    background-color: #8a496b; }
  .color-radios input[type="radio"]#aurora-blue + label span {
    background-color: #a3d7da; }
  .color-radios input[type="radio"]#breathing-crystal + label span {
    background-color: #c8e5eb; }
  .color-radios input[type="radio"]#amber-sunrise + label span {
    background-color: #ffbf00; }
  .color-radios input[type="radio"]:checked + label span i {
    opacity: 1; }

.radio-toolbar {
  margin: 10px; }
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0; }
    .radio-toolbar input[type="radio"]:focus + label {
      border: 2px dashed #fff; }
    .radio-toolbar input[type="radio"]:checked + label {
      background-color: rgba(120, 31, 166, 0.99);
      color: #ffffff;
      border-color: rgba(177, 53, 244, 0.99); }
  .radio-toolbar label {
    display: inline-block;
    color: rgba(120, 31, 166, 0.99);
    background-color: rgba(252, 252, 252, 0.72);
    padding: .25rem .75rem;
    font-size: 1rem;
    border: 1px solid rgba(120, 31, 166, 0.99);
    border-radius: 1rem; }
    .radio-toolbar label:hover {
      background-color: rgba(120, 31, 166, 0.99);
      color: #ffffff;
      border-color: rgba(177, 53, 244, 0.99); }
  .radio-toolbar label.network {
    padding: 0 !important;
    border-radius: 0 !important;
    border: 1px solid rgba(177, 53, 244, 0.99) !important; }
    .radio-toolbar label.network:hover {
      background-color: transparent !important;
      color: #000;
      border-color: transparent !important; }

.btn-theme {
  background: rgba(120, 31, 166, 0.99);
  color: white;
  border-color: rgba(177, 53, 244, 0.99); }
  .btn-theme:hover {
    background: rgba(136, 35, 187, 0.99) !important;
    color: white !important;
    border-color: rgba(172, 41, 243, 0.99) !important; }

.btn-outline-theme {
  background: transparent;
  color: rgba(120, 31, 166, 0.99);
  border-color: rgba(120, 31, 166, 0.99); }
  .btn-outline-theme:hover {
    background: rgba(120, 31, 166, 0.99) !important;
    color: white !important;
    border-color: rgba(172, 41, 243, 0.99) !important; }

.badge-theme {
  color: white;
  background-color: rgba(120, 31, 166, 0.99) !important; }

.pill-theme {
  color: white;
  background-color: rgba(120, 31, 166, 0.99) !important; }

.pro-details-policy .features span {
  font-size: 14px;
  font-weight: bold;
  padding: .5rem;
  margin-bottom: .5rem; }

@media screen and (min-width: 767px) {
  .pricing-meta {
    padding-right: 25%; } }
.pricing-meta .update-price {
  color: rgba(120, 31, 166, 0.99);
  font-weight: bold;
  border-radius: .5rem;
  border: 1px solid rgba(177, 53, 244, 0.99);
  padding: .25rem; }
  .pricing-meta .update-price:hover {
    background: rgba(120, 31, 166, 0.99);
    color: white; }

.text-theme {
  color: rgba(120, 31, 166, 0.99) !important; }

.tp-widget-trustscore {
  color: rgba(120, 31, 166, 0.99) !important; }

.tp-widget-rating {
  color: rgba(177, 53, 244, 0.99) !important; }

/*# sourceMappingURL=radio.css.map */
